server {
  listen   80;
  server_name  {{domains}};
  access_log /var/log/nginx/{{domain.replace('*.', 'wildcard-')}}.access.log;
  client_max_body_size 25M;

  proxy_connect_timeout       300;
  proxy_send_timeout          300;
  proxy_read_timeout          300;
  send_timeout                300;


  location / {

      proxy_set_header X-Forwarded-Host $http_host;
      proxy_set_header X-Forwarded-proto "http";
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header Host $http_host;
      proxy_redirect off;
      proxy_pass   http://127.0.0.1:{{rpcport}};
      {% if version == '6.1' %}
      rewrite ^/$ /web/webclient/home last;
      {% endif %}
      {% if allow_ip  %}
      {% for ip in allow_ip %}
      allow {{ ip }};
      {% endfor %}
      deny all;
      {% endif %}

  }
  {% if version >= '8' and lport %}
  location /longpolling {
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header Host $http_host;
      proxy_redirect off;
      proxy_pass   http://127.0.0.1:{{lport}};
  }
  location /website/info {
      deny all;
  }
  {% endif %}

#  location /xmlrpc {
#    {% for ip in allow_xmlrpc or [] %}
#    allow {{ ip }};
#    {% endfor %}
#    deny all;
#  }

  {% if testlogo %}
  location ~ ^/web/binary/company_logo {
      alias /var/www/test.png;
  }
  {% endif %}

}
server {
  listen 443;
  server_name {{domains}};
  rewrite ^/(.*) http://{{domain}}/$1 break;
}
